body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #3a3a5a);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  color: black;
  padding: 25px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 14px;
  height: 18px;
}

.result p {
  margin: 5px 0;
  font-weight: bold;
}


@media (max-width: 400px) {
  .card {
    width: 90%;
  }
}